.car {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h5 {
    flex: 3;
  }
  button {
    flex: 2;
  }
}

.input {
  display: flex;
  justify-content: space-between;
}
